header {
  min-height: 95vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
}

nav {
  font-size: 2rem;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1px;
  text-transform: capitalize;
  width: calc(100% / 3);
  padding-top: 50px;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav li {
  display: inline-block;
}

nav a {
  display: inline;
  font-weight: 700;
  padding-bottom: 5px;
  border-bottom: 3px solid inherit;
  background-color: inherit;
  color: $white;
}

nav a:hover,
nav a:focus {
  border-bottom: 3px solid $sunflower-yellow;
}

// HOMEPAGE header styles
.home-header {
  background-image: url(../the-restaurant-mall-assets/home-header.jpg);
  // min-height: 95vh;
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: top;
  // position: relative;
}

h1 span {
  display: block;
  background-color: white;
  color: initial;
  width: fit-content;
  padding: 12px 9px 0;
  line-height: 6.9rem;
  margin-bottom: 10px;
}

.home-header img {
  width: 55%;
  position: absolute;
  right: 0px;
  top: 35%;

  // min-height: 400px;
}

// BLOG header styles
.blog-header {
  background-image: url(../the-restaurant-mall-assets/blog-header.jpg);
  min-height: 70vh;
  h2 {
    margin-top: 30px;
    margin-left: 20px;
  }
}


// FOOTER styles
footer {
  background-color: $black;
  text-align: center;
  padding: 5px 0;
  a {
    display: inline;
    font-family: 'Barlow', sans-serif;
    background-color: inherit;
    color: $white;
    padding: 0;
    margin: 0;
  }
}
