header {
  min-height: 95vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
}

nav {
  font-size: 2rem;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1px;
  text-transform: capitalize;
  width: calc(100% / 3);
  padding-top: 50px;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav li {
  display: inline-block;
}

nav a {
  display: inline;
  font-weight: 700;
  padding-bottom: 5px;
  border-bottom: 3px solid inherit;
  background-color: inherit;
  color: $white;
}

nav a:hover,
nav a:focus,
.you-are-here {
  border-bottom: 3px solid $sunflower-yellow;
}

nav label, #toggle {
  display: none;
}

// HOMEPAGE header styles
.home-header {
  background-image: url(../the-restaurant-mall-assets/home-header.jpg);
}

h1 span {
  display: block;
  background-color: white;
  color: initial;
  width: fit-content;
  padding: 12px 9px 0;
  line-height: 6.9rem;
  margin-bottom: 10px;
}

.home-header img {
  width: 55%;
  max-width: 650px;
  position: absolute;
  right: 0px;
  top: 35%;

  // min-height: 400px;
}

// BLOG, CONTACT header styles
.blog-header,
.contact-header {
  min-height: 70vh;
  h2 {
    margin-top: 30px;
    margin-left: 20px;
  }
}

// BLOG header background 
.blog-header {
  background-image: url(../the-restaurant-mall-assets/blog-header.jpg);
}
// CONTACT header background
.contact-header {
  background-image: url(../the-restaurant-mall-assets/contact-header.jpg);
}


// FOOTER styles
footer {
  background-color: $black;
  text-align: center;
  padding: 5px 0;
  a {
    display: inline;
    font-family: 'Barlow', sans-serif;
    background-color: inherit;
    color: $white;
    padding: 0;
    margin: 0;
  }
}

// RESPONSIVE

@media (max-width: 1050px){
  .home-header img{
    width: 40%;
    top: auto;
    bottom: 0;
  }
}

@media (max-width: 880px) {
  header img {
    display: none;
  }
  
  // HAMBURGER
  nav {
    width: 100%;
    height: auto;
  }
  nav label, #toggle {
    display: block;
    position: fixed;
    right: 10px;
    top: 10px;
  }

  ul.sliding-menu {
    flex-direction: column;
    position: fixed;
    width: 30%;
    top: 100px;
    height: 0;
    margin: 0 auto;
    overflow: hidden;
    z-index: 10;
    li {
      margin-bottom: 5px;
    }
    a {
      width: 100%;
      display: block;
      height: 60px;
      padding: 15px 0;
      margin: 0;
      color: $black;
      text-align: center;
      text-transform: uppercase;
      background-color: $white; 
      border: 2px solid $white;
    }
    a:hover,
    a:focus {
      background-color: $sunflower-yellow;
      border: 2px solid $sunflower-yellow;
    }
  }

  #toggle:checked + ul.sliding-menu {
    height: fit-content;
    position: fixed;
    right: 50px;
    top: 50px;
    transition: all 0.75s;
  }

  #toggle {
    display: none;
  }
}