.blog-body {
  background-color: $pine;
}

.blog-grid{
  display: grid;
  grid-template-columns: 3.5fr 6.5fr;
  grid-template-rows: 500px;
  grid-gap: 50px;
  // find a more elegant solution for this:
  min-height: 2500px;
}

// ASIDE styles
aside {
  padding: 100px 100px 25px;
}

.aside-box {
  background-color: $almost-black;
  padding: 0 30px 30px;
  .aside-image-box{
    min-height: 380px;
    position: relative;
    overflow: visible;
  }
  img {
    width: 150%;
    position: absolute;
    right: 2px;
    top: -10px;
  }
  h4 {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $sunflower-yellow;
    padding-top: 20px;
  }
  p {
    font-size: 1.5rem;
  }
}

.blog-aside-ul-box{
  margin-top: 30px;
  ul {
    list-style-type: disc;
    list-style-position: inside;
    padding-top: 15px;
  }
  li {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

.blog-post-image-back{
  position: relative;
  // using image dimensions
  width: calc(955px - 20px);
  height: calc(626px - 125px);
  img{
    position: absolute;
    box-shadow: -20px 20px $sunflower-yellow;
    top: -125px;
    right: -20px;
  }
} 

.blog-text-container {
  padding: 75px;
  border-left: 5px solid $sunflower-yellow;
  border-bottom: 5px solid $sunflower-yellow;
  h2 {
    color: $sunflower-yellow;
  }
  p{
    padding-bottom: 20px;
  }  
  :nth-child(2) {
    font-weight: 600;
    margin-bottom: 20px;
  }
  :last-child {
    padding-bottom: 60px;
  }
}

// COMMENT styles
.comment-section{
  padding: 50px 75px;
}
.comment-1,
.comment-2 {
  display: flex;
  .comment-image{
    width: calc(100% / 6);
  }
  img {
    width: 75%;
  }
  .comment-text{
    width: calc((100% / 6) * 5);
    padding: 0 20px 20px 20px;
    margin-bottom: 50px;
    :first-child{
      color: $sunflower-yellow;
      padding-bottom: 10px;
      font-weight: 600;
    }
  }
}