* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Barlow', sans-serif;
  color: white;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}


.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
  color: $white;
  text-transform: uppercase;
}

h1 {
  font-weight: 600;
  font-size: 6.9rem;
}

h2 {
  font-weight: 600;
  font-size: 4.5rem;
  line-height: 9.98rem;
}

h3 {
  font-size: 4rem;
  letter-spacing: 1.3px;
}

p {
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 1px;
}

a {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  text-decoration: none;
  display: block;
  width: fit-content;
  height: 40px;
  background-color: $sunflower-yellow;
}


// a {
//   display: block;
//   width: auto;
//   height: 60px;
//   background-color: $yellow;
//   color: $white;
// }


