* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Barlow', sans-serif;
  background-color: $almost-black;
  color: white;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}


.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  font-family: 'Josefin Sans', sans-serif;
  color: $white;
  text-transform: uppercase;
}

h1 {
  font-weight: 600;
  font-size: 6.9rem;
}

h2 {
  font-weight: 600;
  font-size: 4.5rem;
  padding: 20px 0;
  // line-height: 9.98rem; took this out because it looked funny when headings wrapped into a second line
}

h3 {
  font-size: 4rem;
  letter-spacing: 1.3px;
}

p {
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 1px;
}

a {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  text-decoration: none;
  display: block;
  width: fit-content;
  height: 40px;
  padding: 10px;
  background-color: $sunflower-yellow;
}


// RESPONSIVE

@media (max-width: 1150px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 4rem;
    line-height: normal;
    padding-bottom: 10px;
  }
  h3 {
    font-size: 3.5rem;
  }
  p {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
  a {
    font-size: 1.8rem;
  }
}