.home-section-2 {
  background-color: $almost-black;
}

.section-two-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px 500px;
  grid-column-gap: 100px;
  // overflow: visible;
}

.section-two-box h2 {
  margin-top: 50px;
}

// .section-two-box img {
//   // width: inherit;
//   // float: left;
// }

.try-something {
  text-align: right;
}

// figure out why .try-something a is not aligning right
.try-something a {
  float: right;
}

.section-two-box a {
  color: $black;
  padding: 12px 5px;
  text-transform: uppercase;
  margin-top: 20px;
}

