.article-1{
  background-color: $pine;
  padding-bottom: 50px;
}

.article-1 h2 {
  color: $sunflower-yellow;
  text-align: center;
  padding-top: 50px;
}

.article-1 a {
  background-color: $black;
  text-align: center;
  margin: 30px auto;
  color: $white;
  text-transform: uppercase;
}

.banner {
  max-height: 500px;
}