.gallery {
  background-color: $almost-black;
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding: 100px 0;
  }
}

footer {
  background-color: $black;
  text-align: center;
  padding: 5px 0;
  a {
    display: inline;
    font-family: 'Barlow', sans-serif;
    background-color: inherit;
    color: $white;
    padding: 0;
    margin: 0;
  }
}