.home-section-1 {
  background-color: $pine;
  padding-top: 100px;
  .useful-links {
  display: grid;
  grid-template-columns: 5% 45% 5% 45%;
  grid-template-rows: 300px 300px;
  }
}

.icon{
  background-color: $sunflower-yellow;
  border-radius: 50%;
  color: $black;
  height: 40px;
  width: 40px;
  position: relative;
  margin: 20px auto;
}

.useful-links i {
  font-size: 20px;
  position: absolute;
  left: 12px;
  top: 9px;
  color:$black;
}

.icon-right i{
  left: 8px
}


// BEST BURGERS & TRY SOMETHING
.home-section-2 {
  background-color: $almost-black;
}

.section-two-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px 350px;
  grid-column-gap: 100px;
  .best-burgers h2{
    margin-top: 50px;
  }
  a {
    color: $black;
    padding: 12px 5px;
    text-transform: uppercase;
    margin-top: 20px;
  }
}

.best-burger-img-box,
.try-something-img-box {
  position: relative;
  img {
    width: 100%;
    position: absolute;
    box-shadow: 20px 20px $sunflower-yellow;
  }
}
.best-burger-img-box img {
  top: -30px;
}
.try-something-img-box img{
  box-shadow: -20px 20px #FFD300;
  top: 50px;
}

.try-something {
  text-align: right;
  a {
    float: right;
  }
}

.article-1, 
.article-2{
  background-color: $pine;
  padding-bottom: 50px;
  h2 {
    color: $sunflower-yellow;
    text-align: center;
  }
  a {
    background-color: $black;
    text-align: center;
    margin: 30px auto;
    color: $white;
    text-transform: uppercase;
  }
}

.article-1{
  padding-top: 150px;
}


.banner {
  max-height: 500px;
}

.article-2{
  .wrapper{
    display: flex;
    padding-top: 100px;
  }

}

.article-2-img{
  width: 25%;
  img{
    box-shadow: -20px 20px #FFD300;
  }
  margin-left: 40px;
}

.article-2-text {
  width: 70%;
  padding: 0px 50px;
  margin-left: 50px;
  h2,
  a {
    text-align: left;
  }
  a {
    margin: 20px 0;
  }
}

// create global rule for top+bottom padding for sections, articles, and gallery

// GALLERY styles
.gallery {
  background-color: $almost-black;
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 30px;
    padding: 100px;
  }
}

@media (max-width: 1150px) {
  .icon {
    margin: 0 auto;
  }
  .home-section-1 {
    grid-template-rows: 100px 100px;
  }
}

@media (max-width: 880px){
  .home-section-1 {
    .useful-links {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      a, p {
        margin-bottom: 20px;
      }
    }
  }
  .section-two-box {
    grid-template-columns: 75%;
    grid-template-rows: 225px;
    justify-content: center;
    margin: 0 auto;
    img {
      position: static;
      width: 50%;
      margin: 0 auto;
    }
    div {
      margin: 0 auto;
    }
    div:last-of-type {
      margin-bottom: 20px;
    }
  }

  .home-section-1,
  .article-1,
  .article-2 .wrapper,
  .gallery .wrapper {
    padding: 50px 20px;
  }
  .article-2 {
    padding-bottom: 0;
  }


  // ARTICLE 2
  .article-2 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      margin-top: 50px;
    }
    .article-2-text{
      width: 100%;
      padding: 0 40px 0 0;
    }
  }
}

@media (max-width: 480px) {
  .section-two-box img,
  .article-2 img {
    width: 100%;
  }
  .section-two-box a,
  .article-2 a {
    margin-bottom: 20px;
  }
}