.home-section-1 {
  background-color: $pine;
  padding-top: 300px;
  .useful-links {
  display: grid;
  grid-template-columns: 5% 45% 5% 45%;
  grid-template-rows: 300px 300px;
  }
}

.icon{
  background-color: $sunflower-yellow;
  border-radius: 50%;
  color: $black;
  height: 40px;
  width: 40px;
  position: relative;
  margin: 20px auto;
}

.useful-links i {
  font-size: 20px;
  position: absolute;
  left: 12px;
  top: 9px;
  color:$black;
}

.icon-right i{
  left: 8px
}


// BEST BURGERS & TRY SOMETHING
.home-section-2 {
  background-color: $almost-black;
}

.section-two-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px 350px;
  grid-column-gap: 150px;
  // overflow: visible;
  .best-burgers h2{
    margin-top: 50px;
  }
  a {
    color: $black;
    padding: 12px 5px;
    text-transform: uppercase;
    margin-top: 20px;
  }
}

.best-burger-img-box,
.try-something-img-box {
  position: relative;
  img {
    width: 125%;
    position: absolute;
    box-shadow: 20px 20px $sunflower-yellow;
  }
}
.best-burger-img-box img{
  left: -160px;
  top: -30px;
}
.try-something-img-box img{
  box-shadow: -20px 20px #FFD300;
  left: 28px;
}

.try-something {
  text-align: right;
  a {
    float: right;
  }
}

.article-1, 
.article-2{
  background-color: $pine;
  padding-bottom: 50px;
  h2 {
    color: $sunflower-yellow;
    text-align: center;
  }
  a {
    background-color: $black;
    text-align: center;
    margin: 30px auto;
    color: $white;
    text-transform: uppercase;
  }
}

.article-1{
  padding-top: 150px;
}


.banner {
  max-height: 500px;
}

.article-2{
  .wrapper{
    display: flex;
    padding-top: 100px;
  }

}

.article-2-img{
  width: 25%;
  img{
    box-shadow: -20px 20px #FFD300;
  }
}

.article-2-text {
  width: 70%;
  padding: 0px 50px;
  margin-left: 50px;
  h2,
  a {
    text-align: left;
  }
  a {
    margin: 20px 0;
  }
}

// create global rule for top+bottom padding for sections, articles, and gallery

// GALLERY styles
.gallery {
  background-color: $almost-black;
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding: 100px 0;
  }
}