// COLORS
$sunflower-yellow: #FFD300;
$white: #FFFFFF;
$almost-black: #171B0E;
$pine: #2B331B;
$black: #0F0F0F;

// fonts 
// font-family: 'Barlow', sans-serif;

// font-family: 'Josefin Sans', sans-serif;